body {
    background-color: #98D7A7;
    margin: 0;
    padding: 0;
    font-family: 'Dosis', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
div {
    width: 600px;
    margin: 5em auto;
    /* padding: 50px; */
    /* background-color: #fff; */
    /* border-radius: 50%; */
}

#gif {
  text-align: center;
}

h1 {
  padding: 5px;
  /* display: inline-block;
  position: relative;
  float: left; */
}

p {
  padding-left: 10px;
}

/* img {
  border-radius: 50%;
} */

#homepageFruit {
  border-radius: 50%;
}

h2 {
  display: inline-block;
  position: relative;
  float: left;
}

/*#aboutMeDiv {
  position: relative;
  float: right;
  display: inline-block;
*/

#colorstrip{
    width: 100%; height: 300px;
    border-style: solid;
    border-color: white;
    background-color: white;
}

#myPhoto {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 2px solid black;
}

a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    body {
        background-color: #fff;
    }
    div {
        width: auto;
        margin: 0 auto;
        border-radius: 0;
        padding: 1em;
    }
}
